# Environment variables
.env

# Logs
lightning_logs
outputs
logs
*.out
__pycache__
wandb
pretrained_model
supervised_ckpt

# Notebooks
# *.ipynb
liquid_electrolytes.txt
data/preprocess.ipynb
## Data
*.parquet
*_data.json
jsons
*.json
