.env
lightning_logs
__pycache__
*_data.json
liquid_electrolytes.txt
jsons
*.json
*.parquet
wandb
outputs
logs
data/preprocess.ipynb
# *.ipynb
pretrained_model
*.png
supervised_ckpt
*.out